
.menu-separation{
    height: 2px;
    width: 100vw;
    margin: 0 ;
}

.plats {
    background-color: #f1f1f1;   
    margin: 0 auto;
}
h1{
    padding-top: 2rem;
}
.container-plats{
    width: 90vw;
    margin: 2rem auto 0 auto;
    padding: 2rem;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:2.6rem;
}

.card-plat{
    width: 48%;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
    height: auto;
    padding: 1rem;
    border-radius: 6px;
}

.card-header img{
    width: 100%;
    height: 40rem;
    object-fit: cover;
    object-position:center; 
    border-radius: 6px;
}

.card-body{
    margin:2rem 0;
}
.card-body h2{
    font-size: 2rem;
    margin-bottom: 1.6rem;
    color: var(--main-color);
}
.card-body p{
    font-size: 1.6rem;
    margin-bottom: 1.8rem;
    color: var(--main-color); 
}
.plat-infos {
    display: flex;
    justify-content: space-between;
    align-items:baseline;
}
.plat-infos p{
    font-size: 1.6rem;
    color: var(--main-color); 
}
.plat-infos .btn{
    text-decoration: none;
    font-size: 1.6rem;
    color: green;
    padding: 6px 12px;
    border: 2px solid green;
    border-radius: 8px;
    transition: all .3s
}
.plat-infos .btn:hover{
    color: #fff;
    background-color: green;
}

/* Media queries */
@media screen and (max-width: 992px) {
    .card-header img{
        width: 100%;
        height: 34rem;
    }
    .container-plats{
        width: 100vw;
        margin: 2rem auto 0 auto;
        gap:2.2rem;
    }
    .card-plat{
        width: 48%;
    }
   
}
@media screen and (max-width: 768px) {
    .card-plat{
        width: 90%;
    }
}
@media screen and (max-width: 576px) {
    .container-plats{
        padding: 1rem;
    }
    .card-header img{
        width: 100%;
        height: 30rem;
    }
    .card-body h2{
        font-size: 1.8rem;
    }
    .card-body p{
        font-size: 1.4rem;
        margin-bottom: 1.4rem;
    }
    .plat-infos{
        flex-direction: column;
    }
    .plat-infos .btn{
        width: 100%;
        display: block;
        text-align: center;
    }
}
@media screen and (max-width: 450px) {
    .card-plat{
        width: 98%;
    }
    .card-header img{
        height: 22rem;
    }

}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
  }
  
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
  }